<div class="container" ng-controller="ListQnCtrl as ctrl">

    <form name="ListQn" novalidate ng-submit="ctrl.listQn()">
        <!-- Creates button used to submit data -->
        <div class="form-group">
            <button type="submit" class="btn btn-default form-control">
                List Questions</button>
        </div>
    </form>

    <div class="logo-text">
        <table class="table table-striped table-hover">
            <thead>
                <th>Question Id</th>
                <th>Question Text</th>
                <th>Help answer this question</th>
                <th>Delete this question</th>
                <th>Delete this answer</th>
            </thead>
            <tbody>
                <tr ng-repeat="i in ctrl.questionList">
                    <td> {{i.question_id}}</td>
                    <td> {{i.question_text}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.ansQuestion(i.question_id" ) name="ansQuestion" value="Answer">Help Answer questions</button>

                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.deleteQuestion(i.question_id)" name="Delete" value="Delete">Delete Question</button>

                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.deleteAnswer(i.answer_id)" name="Delete Answer" value="Delete">Delete Answer</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <button type="button" ui-sref="index" class="btn btn-default form-control">
                Close List of question</button>

    <!--end of listqnCtrl-->
</div>