<div class="container" ng-controller="Post1QnCtrl as ctrl">
      
    <form name="studentQuestion" novalidate ng-submit="ctrl.post1Qn()" autocomplete="off" class="logo-text form-inline ">
        
        <!--<div class="form-group" ng-class="{ 'has-error': regForm.guestEmail.$touched && regForm.guestEmail.$invalid }">
            <label for="guestEmail">Guest Email:</label>
            <input type="email" id="guestEmail" name="guestEmail" class="form-control" ng-model="ctrl.guests.email" required placeholder="Email Ex : abc@abc.com">
        </div>-->
        
        <div class="form-group" ng-class="{ 'has-error': regForm.studentQuestion.$touched && regForm.studentQuestion.$invalid }">
            <label for="studentQuestion">Question:</label>
            <input type="text" id="studentQuestion" name="studentQuestion" class="form-control" ng-model="ctrl.question_text" >
            <!--<div class="help-block" ng-messages="regForm.studentQuestion.$error" ng-if="regForm.studentQuestion.$touched">
                <p ng-message="required">Guest Name Required</p>
            </div>-->
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default form-control" ng-disabled="studentQuestion.$invalid">
                Submit Question</button>
        </div>
        <!--<div class="form-group">
			<button type="button" ui-sref="gallery1" class="btn btn-default form-control">
                Close</button>
		</div>
        <div class="help-block logo-text">
                <p>{{ctrl.status}}</p>
        </div>-->
    </form>
</div>