<div class="container" ng-controller="List1QnMACtrl as ctrl">

    <form name="List1QnMA" novalidate ng-submit="ctrl.List1QnMA()">
        <!-- Creates button used to submit data -->
        <div class="form-group">
            <button type="submit" class="btn btn-default form-control">
                List Many Answer to 1 Question</button>
        </div>
    </form>

    <div class="logo-text">
        <table class="table table-striped table-hover">
            <thead>
                <th>Question Id</th>
                <th>Question Text</th>
                <th>Answer Id</th>
                <th>Answer Id</th>
                
            </thead>
            <tbody>
                <tr ng-repeat="i in ctrl.List1QnMAList">
                    <td> {{i.question.question_id}}</td>
                    <td> {{i.question.question_text}}</td>
                    <td> {{i.answer_id}}</td>
                    <td> {{i.answer_text}}</td>
                    <!--<td>
                        <button class="btn btn-default" ng-click="ctrl.ansQuestion(i.question_id" ) name="ansQuestion" value="Answer">Help Answer questions</button>

                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.deleteQuestion(i.question_id)" name="Delete" value="Delete">Delete Question</button>

                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="ctrl.deleteAnswer(i.answer_id)" name="Delete Answer" value="Delete">Delete Answer</button>

                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <!--<button type="button" ui-sref="index" class="btn btn-default form-control">
                Close List of question</button>-->

    <!--end of listqnCtrl-->
</div>